.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        サイトウ
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
        = link_to "#" do
          = icon('fa', 'edit')
          %span<>
        %li.side-header__box__menu__edit-user
        = link_to "#" do
          = icon('fa', 'cog')
          %span<>

  .groups
    = link_to "#" , class: "group" do
      %p.group__group-name
        グループ名
      %p.group__group-message
        まだメッセージはありません
